aiohttp
APScheduler
astroid
async-timeout
attrs
certifi
chardet
click
discord.py
Flask
idna
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
multidict
pylint
python-http-client
pytz
requests
sendgrid
six
starkbank-ecdsa
toml
tzlocal
urllib3
Werkzeug
wrapt
yarl
python-dotenv
jurigged
